.ControlBar {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color:  #100c08;
    height: 108px;
    opacity: 95%;
}

.innerControlBar{
    padding: 10px;
    padding-top: 20px;
}

.white-text{
    color: azure;
}

.graph-area{
    height: 85vh;
}

.open-up{
    bottom: 0;
    width: 225px;
    padding: 5px;
    background-color: #100c08;
    color: azure;
    border: none;
    outline: 0;
    scroll-behavior: smooth;
}

.selection-list{
    padding-top: 18px;
    padding-left: 20px;
}