.ControlBar {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color:  #100c08;
    height: 108px;
    opacity: 95%;
}

.innerControlBar{
    padding: 10px;
    padding-top: 20px;
    width: 100%;
}

.white-text{
    color: azure !important;
}

.graph-area{
    height: 86.2vh;
}

.open-up{
    bottom: 0;
    width: 225px;
    padding: 5px;
    background-color: #100c08;
    color: azure;
    border: none;
    outline: 0;
    scroll-behavior: smooth;
}

.selection-list{
    padding-top: 18px;
    padding-left: 20px;
    float: left;
}

.same-horizon{
    float: left;
}

.sample-range{
    background-color: #100c08;
    padding-top: 18px;
    padding-left: 150px;
}

.label-custom{
    margin-right: 20px;
}

.range-bar{
    width: 300px;
    margin-top: 10px;
}

.sort-button{
    float: right !important;
    padding-top: 18px;
    padding-right: 50px;
    
}

.sort-button:hover{
    cursor: pointer;
    color: green !important;
}


.visualizing-area{
    position: -webkit-sticky;
    position: sticky;
    margin-left: 4%;
    margin-right: 4%;
    height: 75vh;
}

.hr-styling{
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 1px;
    margin-bottom: 2px;
}

.vertical-bars{
    float: left;
    outline: 0.5px solid rgb(26, 33, 34);
}